/************
  COLORS
 ************/
$white: #fff;
// $blue: #1467b6;
// $grey: #aad3df; //#cfd8dc
$grey-dark: #324a51;
$grey: #96b0b7;
$purple: rgb(169, 64, 169);
$light-purple: #d1c1da;

$primary: $grey-dark;
$secondary: $grey;
